@model ProjekatAzil.Models.Breed

@section HeaderBottom{
    <div class="about-heading">
        <div class="container">
            <h2>Delete</h2>
        </div>
    </div>
}

    <div class="container">
        <br />
        <br />
        <div>
            <h4>Breed</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
        <br />
        <br />
    </div>