
@section HeaderBottom {
    <div class="about-heading">
        <div class="container">
            <h2>Confirm Email Address Sent</h2>
        </div>
    </div>
}

<div class="row">
    <div align="center" class="s1">
        <br />
        <br />
        <br />
        Please check your Email Inbox, a confirm Email is Sent to @ViewBag.Email
        <br />
        <br />
        <br />
    </div>
</div>  