
@section HeaderBottom {
    <div class="about-heading">
        <div class="container">
            <h2 >About Us</h2>
        </div>
    </div>
}


<!-- about -->
<div class="about">
    <!-- about-top -->
    <div class="agileits-about-top">
        <div class="container">
            <div class="agileits-about-top-heading">
                <h3>Who we are</h3>
            </div>
            <div class="agileinfo-top-grids">
                <div class="col-sm-4 wthree-top-grid">
                    <img src="~/images/a1.jpg" alt="" />
                    <h4>Our mission</h4>
                    <p>
                        To improve the welfare of dogs in Serbia, resulting in better lives for both the animal and human communities, to create a society without homeless animals, and to ultimately end animal cruelty.
                    </p>
                </div>
                <div class="col-sm-4 wthree-top-grid">
                    <img src="~/images/a2.jpg" alt="" />
                    <h4>Our results</h4>
                    <p>
                        Every year we spay/neuter and vaccinate tens of thousands of street dogs and cats in Nish.  We are conducting a series of mobile sterilisation clinics across Nish, home to approximately 640,000 street dogs. This project will eventually comprise ten mobile clinics and will take an estimated seven years to complete.
                    </p>
                </div>
                <div class="col-sm-4 wthree-top-grid">
                    <img src="~/images/a3.jpg" alt="" />
                    <h4>Our work</h4>
                    <p>
                        We also campaign for an improvement in animal welfare rights across Serbia, and help animals affected by natural disasters.
                    </p>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!-- //about-top -->
    <!-- choose -->
    <div class="w3-agileits-choose">
        <div class="container">
            <div class="agileits-about-top-heading agileits-w3layouts-choose-heading">
                <h3>Why choose us?</h3>
            </div>
            <div class="agile-choose-grids">
                <div class="col-sm-4 agile-choose-grid">
                    <div class="choose-icon">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </div>
                    <div class="choose-info">
                        <h4>Suspendisse ornare vitae ex nec aliquam</h4>
                        <p>
                            Nunc et massa ut purus porta euismod quis eu erat. Nam ornare faucibus elit sed tempor. Quisque iaculis odio nibh, et auctor tellus rhoncus vel.

                            Maecenas arcu neque, semper eu commodo ut, pharetra vitae erat.
                        </p>
                    </div>
                </div>
                <div class="col-sm-4 agile-choose-grid">
                    <div class="choose-icon">
                        <i class="fa fa-cogs" aria-hidden="true"></i>
                    </div>
                    <div class="choose-info">
                        <h4>Suspendisse ornare vitae ex nec aliquam</h4>
                        <p>
                            Nunc et massa ut purus porta euismod quis eu erat. Nam ornare faucibus elit sed tempor. Quisque iaculis odio nibh, et auctor tellus rhoncus vel.

                            Maecenas arcu neque, semper eu commodo ut, pharetra vitae erat.
                        </p>
                    </div>
                </div>
                <div class="col-sm-4 agile-choose-grid">
                    <div class="choose-icon">
                        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                    </div>
                    <div class="choose-info">
                        <h4>Suspendisse ornare vitae ex nec aliquam</h4>
                        <p>
                            Nunc et massa ut purus porta euismod quis eu erat. Nam ornare faucibus elit sed tempor. Quisque iaculis odio nibh, et auctor tellus rhoncus vel.

                            Maecenas arcu neque, semper eu commodo ut, pharetra vitae erat.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //choose -->
    <!-- team -->
    <div class="team">
        <div class="container">
            <div class="agile_team_grids">
                <div class="col-md-3 agile_team_grid">
                    <div class="agile_team_grid_main">
                        <img src="~/images/t2.jpg" alt=" " class="img-responsive">
                        <div class="p-mask">
                            <ul class="top-links two">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="agile_team_grid1">
                        <h3>Jovan Pavlović</h3>
                        <p>Lorem ipsum</p>
                    </div>
                </div>
                <div class="col-md-3 agile_team_grid">
                    <div class="agile_team_grid_main">
                        <img src="~/images/t1.jpg" alt=" " class="img-responsive">
                        <div class="p-mask">
                            <ul class="top-links two">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="agile_team_grid1">
                        <h3>Milica Prvulović</h3>
                        <p>Consectetur </p>
                    </div>
                </div>
                <div class="col-md-3 agile_team_grid three">
                    <div class="agile_team_grid_main">
                        <img src="~/images/t3.jpg" alt=" " class="img-responsive">
                        <div class="p-mask">
                            <ul class="top-links two">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="agile_team_grid1">
                        <h3>Danijel Stamenković</h3>
                        <p>Suscipit</p>
                    </div>
                </div>
                <div class="col-md-3 agile_team_grid four">
                    <div class="agile_team_grid_main">
                        <img src="~/images/t4.jpg" alt=" " class="img-responsive">
                        <div class="p-mask">
                            <ul class="top-links two">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="agile_team_grid1">
                        <h3>Nevena Stanković</h3>
                        <p>Malesuada </p>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!-- //team -->
</div>
<!-- //about -->

@section Scripts {
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }

    </script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
}