@model ProjekatAzil.Models.AdoptionDogForm
@section HeaderBottom{
    <div class="about-heading">
        <div class="container">
            <h2>Adoption form</h2>
        </div>
    </div>
}
    <div class="container">

        @using (Html.BeginForm("Index", "Forms", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <br />
            <br />
            <p>First Name:</p>
            <input type="text" name="Model.FirstName" value="">
            <br />
            <br />
            <p>Last Name:</p>
            <input type="text" name="Model.LastName" value="">
            <br />
            <br />
            <p>Phone number:</p>
            <input type="number" name="Model.PhoneNumber" value="">
            <br />
            <p>E-mail:</p>
            <input type="email" name="Model.Email">
            <br />
            <br />
            <p>Rodjus</p> <input type="date" name="Model.DayB">
            <br />
            <br />
            <p>Country</p>
            <input type="text" name="Model.Country">
            <br />
            <br />
            <p>PostalCode</p>
            <input type="number" name="Model.PostalCode" value="">
            <br />
            <br />
            <p>Address</p>
            <input type="text" name="Model.Address">
            <br />
            <br />
            <p>Do you have other pets?</p>
            <select name="Model.Yes_No">
                <option value="Model.Yes">Yes</option>
                <option value="Model.No">No</option>
            </select>
            <br />
            <br />
            <p>What species are those animals?</p>
            <input type="text" name="Model.AnimalType" value="">
            <br />
            <br />
            <p>Where do you live?</p>
            <select name="Model.Place">
                <option value="Model.House">House</option>
                <option value="Model.Apartment">Apartment</option>
                <option value="Model.Farm">Farm</option>
                <option value="Model.Farm">Duplex</option>
            </select>
            <br />
            <br />
            <p>Do you have kids?</p>
            <select name="Model.Yes_No">
                <option value="Model.Yes">Da</option>
                <option value="Model.No">Ne</option>
            </select>
            <br />
            <br />
            <p>How many kids you have?</p>
            <input type="number" name="Model.AgeChildren" value="">
            <br />
            <br />
            <p>Da li se cesto selite?</p>
            <select name="Model.Yes_No">
                <option value="Model.Yes">Da</option>
                <option value="Model.No">Ne</option>
            </select>
            <br />
            <br />
            <p>Coment:</p>
            <textarea rows="5" cols="60">
        </textarea>
            <br />
            <input type="submit" value="Submit">
            <br />
            <br />
        }
    </div>