@model ProjekatAzil.Models.Donation
@section HeaderBottom{
    <div class="about-heading">
        <div class="container">
            <h2>Donation Form</h2>
        </div>
    </div>
}
<div class="container">
    

    @using (Html.BeginForm("Index", "Forms", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <br/>
        <br/>
        <p>Ime:</p>
        <input type="text" name="Model.FirstName" value="">
        <br />
        <br />
        <p>Prezime:</p>
        <input type="text" name="Model.LastName" value="">
        <br />
        <br />
        <p>Broj Telefona:</p>
        <input type="number" name="Model.PhoneNumber" value="">
        <br />
        <br />
        <p>E-mail:</p>
        <input type="email" name="Model.Email">
        <br />
        <br />
        <p>Tip Donacije:</p>

        foreach (ProjekatAzil.Models.DonationType don in Enum.GetValues(typeof(ProjekatAzil.Models.DonationType)))
        {
            <input type="checkbox" name="DonationType" value="@don" />
            @Html.Label(don.ToString())
        }
        <br />
        <br />
        <p>Coment:</p>
        <textarea rows="5" cols="60">
            </textarea>
        <br />
        <br />
        <input type="submit" value="Submit">
        <br />
        <br />
    }
</div>