@model ProjekatAzil.Models.VolunteerForm

@section HeaderBottom{
    <div class="about-heading">
        <div class="container">
            <h2>Volunteer Form</h2>
        </div>
    </div>
}

    <div class="container">

        @using (Html.BeginForm("Index", "Forms", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <br />
            <br />
            <p>First name:</p>
            <input type="text" name="Model.FirstName" value="">
            <br />
            <br />
            <p>Last name:</p>
            <input type="text" name="Model.LastName" value="">
            <br />
            <br />
            <p>Phone number:</p>
            <input type="text" name="Model.PhoneNumber" value="">
            <br />
            <br />
            <p>E-mail:</p>
            <input type="email" name="Model.Email">
            <br />
            <br />
            <p>I would like to apply for:</p>

            <select name="Model.Services">
                <option value="Model.Empty" selected>--Please choose an option--</option>
                <option value="Model.DogWalking">Dog Walking</option>
                <option value="Model.DogCare">Dog Care</option>
                <option value="Model.ShelterMaintenance">Shelter Maintenance</option>
                <option value="Model.Anything">Anything</option>
            </select>
            <br />
            <br />
            <p>I would like to help on:</p>
            <br />

            foreach (ProjekatAzil.Models.Days weekDay in Enum.GetValues(typeof(ProjekatAzil.Models.Days)))
            {
                <input type="checkbox" name="Days" value="@weekDay" />
                @Html.Label(weekDay.ToString())
            }
            <br />
            <br />
            <p>Comment:</p>
            <textarea rows="5" cols="60">
            </textarea>
            <br />
            <br />
            <input type="submit" value="Submit">
            <br />
            <br />
        }

    </div>


